#map {
        height: 500px;
        width: auto;
        border: 2px solid;
      }
      /* Optional: Makes the sample page fill the window. */
/*      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }*/a